#durationModal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title Edit duration
      .modal-body#duration-modal-body
        = render 'tasks/forms/duration_form'

