#editModal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title Edit Task
      .modal-body#edit-modal-body
        = render 'tasks/forms/form'