/ Modal
#newModal.modal.fade{role: 'dialog'}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'}
        %h4.modal-title New Task
      .modal-body#new-task-modal-body
        = render 'tasks/forms/form'
