#resetTasksModal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-body#reset-tasks-modal-body
        = link_to 'Archive & Reset Tasks', '#', class: 'btn btn-lg btn-default', style: 'width: 100%;'
        = link_to 'Reset Tasks Only', '#', class: 'btn btn-lg btn-danger', style: 'width: 100%;'