.row
  .col-md-4
    %h1 Completed Tasks
  .col-md-4
    %h5{style: 'margin-top: 35px; margin-left: -100px;'}
.completed_tasks
  - if @completed_tasks.count > 0
    - filtered_sorted_tasks(@completed_tasks).each do |task|
      .row.well
        .col-md-4
          %h4= link_to task.title, show_task_modal_path(id: task.id), format: :js, remote: true, task: task

        .col-md-4{style: 'margin-top: 10px;'}
          Time took:
          = duration_display(task.duration)


        .col-md-4{style: 'margin-top: 10px;'}
          Finished
          = finished_display(task.completed_at)
          .pull-right{style: 'margin-top: -8px;'}
            = link_to restart_task_path(task), class: 'restart_btn btn btn-default', format: :js, remote: true do
              %span.glyphicon.glyphicon-arrow-up
  - else
    .container
      %h4 You have no complete tasks