.row
  .col-md-4
    %h1 Completed Tasks
  .col-md-4
    %h5{style: 'margin-top: 35px; margin-left: -100px;'}
.completed_tasks
  - if @completed_tasks.count > 0
    = react_component 'Tasks', {tasks: complete_tasks.map{|t| react_task(t)}, type: 'complete'}
  - else
    .container
      %h4 You have no complete tasks