#editModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title#show-title
      .modal-body
        #form
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close