#manageTagModal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title Manage tags
      .modal-body#manage-tag-modal-body.center
        = render 'tags/manage_tag_page'
      .modal-footer
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close