/ Modal
#newTagModal.modal.fade{role: 'dialog'}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title New Tag
      .modal-body#new-tag-modal-body
