h4{
  display: inline;
}

.archive-btns{
  margin-right: -18px;
  float: right;
}

.archive-collapse{
  margin-top: -20px;
  margin-bottom: 20px;
}

.archive-delete{
  margin-top: -10px;
}

.archive-row{
  height: 60px;
}

.archive-title{
  margin-top: -2px;
  margin-left: -8px;
}

.box-height{
  max-height: 500px;
}

.btn{
  margin: 2.5px 2.5px 2.5px 2.5px;
}

.center{
  margin: 0 auto;
}

.dropdowns{
  padding-left: 4%;
  padding-top: 2%;
}

.duration.form{
  text-align: right;
  width: 50px;
}

.field_with_errors {
  color: red;
}

.full.btn{
  width: 100%;
}

.glyphicon-pencil{
  margin-bottom: 10px;
}

.index_header{
  display: inline-block;
}

.left{
  float: left;
}

.medium-well{
  width: 90%;
  margin-left: 25px;
}

.no-pad-marg{
  padding: 0;
  margin: 0;
}

.row.duration{
  float: left;
}

.scroll{
  overflow-y: auto;
}

.tag_container{
  max-height: 550px;
  overflow-y: auto;

}

.top-space{
  margin-top: 10px;
}


.small-well{
  width: 100%;
  margin-left: 0;
}

.well.tag {
  margin-left: 1%;
  width: 98%;
}

