h4{
  display: inline;
}

.btn{
  margin: 2.5px 2.5px 2.5px 2.5px;
}

.center{
  margin: 0 auto;
}

.dropdowns{
  padding-left: 4%;
  padding-top: 2%;
}

.duration.form{
  text-align: right;
  width: 50px;
}

.field_with_errors {
  color: red;
}

.glyphicon-pencil{
  margin-bottom: 10px;
}

.index_header{
  display: inline-block;
}

.left{
  float: left;
}

.medium-well{
  width: 90%;
  margin-left: 25px;
}

.row.duration{
  float: left;
}

.scroll{
}

.tag_container{
  max-height: 550px;
  overflow-y: auto;

}


.small-well{
  width: 80%;
  margin-left: 0;
}

.well.tag {
  margin-left: 1%;
  width: 98%;
}

