.field_with_errors {
  color: red;
}

.left{
  float: left;
}

.duration.form{
  text-align: right;
  width: 50px;
}

.scroll{
  overflow-y: auto;
}

.medium-well{
  width: 90%;
  margin-left: 25px;
}

.small_modal{
  max-height: 550px;
}

.center{
  margin: 0 auto;
}

.small-well{
  width: 80%;
  margin-left: 0;
}

.faded {
  opacity: 0;
  transition: opacity 1s;
}

.row.duration{
  float: left;
}
